<div class="category">
  <div [@expandForShadow]="isExpanded" class="shadow-wrapper">
    <div class="shadow">
      <div [@offsetExpand]="isExpanded" fxLayout fxLayoutAlign="start center" fxLayoutGap="10px">
        <span *ngIf="!isInEditMode" (click)="toggle()" [@makeHeader]="isExpanded" class="category-name">
          {{category.name}}
        </span>

        <button md-mini-fab md-tooltip="Edit category name"
          *ngIf="!isInEditMode"
          (click)="toggleEditCategory()"
          [@opacityIn]="isExpanded"
          type="button">
          <md-icon>edit</md-icon>
        </button>

        <button md-mini-fab md-tooltip="Delete category"
          *ngIf="!isInEditMode"
          (click)="promptDelete()"
          [@opacityIn]="isExpanded"
          type="button">
          <md-icon>delete</md-icon>
        </button>

        <span mdTooltip="Add new item" #addItemTooltip>
          <button md-mini-fab 
            *ngIf="!isInEditMode"
            (click)="promptAddItem()"
            [@opacityIn]="isExpanded"
            type="button">
            <md-icon>add</md-icon>
          </button>
        </span>

        <div *ngIf="isInEditMode">
          <form novalidate [formGroup]="changeCategoryForm" (ngSubmit)="saveCategoryName()">
            <md-input-container>
              <input md-input formControlName="newName" type="text" placeholder="Category name">
            </md-input-container>

            <button md-mini-fab type="submit">
              <md-icon>check</md-icon>
            </button>

            <button md-mini-fab (click)="toggleEditCategory()" type="button">
              <md-icon>clear</md-icon>
            </button>
          </form>
        </div>
      </div>

      <div [@openClose]="isExpanded" (@openClose.done)="openCloseDone($event)" [@offsetExpand]="isExpanded">
        <div class="category-items">
          <div fxLayout class="items-header" *ngIf="category.items.length">
            <div fxFlex>Name</div>
            <div fxFlex>URL</div>
            <div fxFlex>Account</div>
            <div fxFlex>Password</div>
            <div fxFlex>Blob</div>
            <div fxFlex="70px"></div>
          </div>

          <app-item fxLayout fxLayoutAlign="start center"
            *ngFor="let item of category.items"
            [item]="item"
            (updateItem)="updateItem.emit($event)"
            (removeItem)="removeItem.emit($event)">
          </app-item>
        </div>
      </div>
    </div>
  </div>
</div>