<div fxFlex ngxClipboard [cbContent]="item.name" (cbOnSuccess)="copied()">
  {{item.name}}
</div>

<div fxFlex ngxClipboard [cbContent]="item.url" (cbOnSuccess)="copied()">
  {{item.url}}
</div>

<div fxFlex ngxClipboard [cbContent]="item.account" (cbOnSuccess)="copied()">
  {{item.account}}
</div>

<div fxFlex ngxClipboard [cbContent]="item.password" (cbOnSuccess)="copied()">
  {{item.password}}
</div>

<div fxFlex ngxClipboard [cbContent]="item.blob" (cbOnSuccess)="copied()">
  {{item.blob}}
</div>

<div fxFlex="70px" fxLayout fxLayoutGap="10px">
  <button md-mini-fab md-tooltip="Edit item"
    (click)="promptEdit()"
    type="button">
    <md-icon>edit</md-icon>
  </button>

  <button md-mini-fab md-tooltip="Delete item"
    (click)="promptDelete()"
    type="button">
    <md-icon>delete</md-icon>
  </button>
</div>
