$highlightColor: #fff6d0;

:host {
  padding: 5px 0;

  &:hover {
    background: $highlightColor;
  }
}

[ngxClipboard] {
  margin: 5px;
  cursor: pointer;
  line-height: 24px;

  &:hover {
    background: darken($highlightColor, 10);
  }
}

button[md-mini-fab] {
  width: 30px;
  height: 30px;

  md-icon {
    font-size: 18px;
    line-height: 24px;
    padding: 4px 0;
  }
}